<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1-Drivers</title>
    <link rel="stylesheet" href="css/dash-board.css">
    <link rel="stylesheet" href="css/drivers.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
<div class="drivers">

<% drivers.forEach(driver => { %>

    <div class="drivers2">
        <div class="details">
        <h1><%= driver.full_name %></h2>
        <h2><%= driver.team_name %></h2>
        <h2>#<%= driver.driver_number %></h2>
        </div>
        <img src="/images/drivers/<%= driver.driver_number %>.jpg" alt="<%= driver.full_name %>" >

    </div>

<% }) %>

</div>
</body>
</html>