<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1</title>
    <link rel="stylesheet" href="css/dash-board.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<script>
function toggleMenu(){
    const menu = document.getElementById("navMenu");
    menu.classList.toggle("show");
}
</script>
<body>
    <%- include("partials/header.ejs") %>
    <div class="table">
        <div class="row head">
            <div class="position">Pos</div>
            <div class="name">Driver</div>
            <div>Nationality</div>
            <div class="team">Team</div>
            <div class="points">Points</div>
        </div>
        <hr>
        <% rank.forEach(rank => { %>            
            <div class="row">
                <div class="position"><%= rank.position %></div>
                <div class="name"><%= rank.Driver.givenName %> <%= rank.Driver.familyName %></div>
                <div class="nation"><%= rank.Driver.nationality %></div>
                <div class="team"><%= rank.Constructors[0].name %></div>
                <div class="points"><%= rank.points %></div>
            </div>
        <%}); %>
    </div>

    <div class="schedule">
        <% for( let i = 0; i < schedule.length; i++ ) { %>
            <div class="schedule2">
                <div class="driv">
                    <h3>Round:<%= i+1 %></h3>
                    <h1><%= schedule[i] %></h1>
                    <p><%= location[i] %></p><br><br><br><br>
                    <p><%= date[i] %></p>
                </div>
                <div class="result">

                <% if(raceResults[i]) { %>
                    <% raceResults[i].results.slice(0,3).forEach(driver => { %>
                        <div class="single">
                            <%= driver.position %> -
                            <%= driver.Driver.givenName %> <%= driver.Driver.familyName %>
                            (<%= driver.Constructor.name %>)
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>Race not completed</p>
                <% } %>
                </div>
                <img src="images/circuits/<%= schedule[i] %>.webp" alt="">
            </div>
        <% } %>
    </div>
</body>
</html>